@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Ocultar la barra en navegadores WebKit */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Ocultar barra en IE y Edge */
  scrollbar-width: none; /* Ocultar barra en Firefox */
}


.no-scroll {
  overflow-y: hidden;
}

.bg-screen {
  /* background-image: url("/images/test.jpg"); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/tevezwalpaper.jpg'); */
  background-size: cover; /* Asegúrate de que la imagen cubra el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}

.bg-screen2 {
  background-image: url("https://editorial.uefa.com/resources/0280-17bdcdb21a6c-d674bf1e98a0-1000/sevilla_fc_v_getafe_cf_-_laliga_santander.jpeg");
  background-size: cover; /* Asegúrate de que la imagen cubra el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
}


.custom-carousel-sustainability .slick-list {
  overflow: visible !important;
  color: #474747;
}